* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.2;
}
::placeholder {
  color: rgba(0, 0, 0, 0.23);
}

p {
  font-weight: 500;
  line-height: 1.5em;
}

button {
  cursor: pointer;
  padding: 0.5rem;
  background: none;
  border: 1px #666 solid;
  transition: all 0.3s ease-in;
}

button:hover {
  transform: translateY(-2px);
}

input {
  padding: 0.6rem;
  width: 200px;
  transition: all 0.3s ease-out;
}

input:focus {
  outline: 0;
  background-color: rgb(235, 235, 235);
}
